---
import Layout from '../components/Layout.astro';
import Navbar from '../components/navbar/Navbar.astro';
import MobileMenu from '../components/navbar/MobileMenu.tsx';
import HeroSection from '../components/hero/HeroSection.astro';
import AquaSenseStackedProcess from '../components/sections/AquaSenseStackedProcess.tsx';
import ReportsSection from '../components/sections/ReportsSection.astro';
import TestimonialsSection from '../components/sections/TestimonialsSection.astro';
import PricingSection from '../components/sections/PricingSection.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
  <Navbar />
  <MobileMenu client:load />
  <main id="inicio">
    <HeroSection />
    <AquaSenseStackedProcess client:load />
    <ReportsSection />
    <TestimonialsSection />
    <PricingSection />
  </main>
  <Footer />
</Layout>
