---
import Layout from '../components/Layout.astro';
import Navbar from '../components/navbar/Navbar.astro';
import MobileMenu from '../components/navbar/MobileMenu.tsx';
import HeroSection from '../components/hero/HeroSection.astro';
import ProblemSection from '../components/sections/ProblemSection.astro';
import SolutionSection from '../components/sections/SolutionSection.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import AutomationSection from '../components/sections/AutomationSection.astro';
import UseCasesSection from '../components/sections/UseCasesSection.astro';
import ReportsSection from '../components/sections/ReportsSection.astro';
import TestimonialsSection from '../components/sections/TestimonialsSection.astro';
import PricingSection from '../components/sections/PricingSection.astro';
import CtaSection from '../components/sections/CtaSection.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
  <Navbar />
  <MobileMenu client:load />
  <main>
    <HeroSection />
    <ProblemSection />
    <SolutionSection />
    <HowItWorks />
    <AutomationSection />
    <UseCasesSection />
    <ReportsSection />
    <TestimonialsSection />
    <PricingSection />
    <CtaSection />
  </main>
  <Footer />
</Layout>
